<!--Bottom Nav Bar-->
<div nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">&copy; Copyright by Anusha Shahid </a>
    <!--Linkedin Link-->
    <a href = "https://www.linkedin.com/in/anusha-shahid-760442299/"> 
      <i class="fa-brands fa-linkedin"></i> My LinkedIn
    </a> 
    <!--GitHub Link-->
    <a href = "https://github.com/AnushaShahid/"> 
      <i class="fa-brands fa-github"></i> My GitHub
    </a>
</div>
</nav>
