<%-include ('partials/header')%>
<%-include ('partials/mainnav')%>


    <!--Create a class for the self image and the description about myself-->
    <div class="infoaboutme">
        <div class="selfimage">
            <img src="Assets/images/anushas.jpeg" alt="Anusha's Self Image" width="155" height="200">
            </div>
            <p>Welcome to my webpage! My name is Anusha Shahid and I'm a second year student at Ontario Tech University. I'm in the Tech Management for IT program and I'm really enjoying it so far. This is my first time coding in HTML but so far, I'm liking it. I can't wait to see what other challeneges and adventures I'm going to face during my time here :)</p>
        </div>

        <!--Class for the video and the cover of the video-->
        <div class="introvideo">
            <video  width="320" height="240" controls poster="Assets/images/videocover.png">
                <source src="Assets/images/introvideo.mp4" type="video/mp4">
            </video>
        </div>

<%-include ('partials/footer')%>
<%-include ('partials/bottomnav')%>
