<%-include ('partials/header')%>
<%-include ('partials/mainnav')%>


<!DOCTYPE HTML>

    <!--Create a class for the navigation bar and reference links to other files-->
      <div class="anushainfo">
      <h1> Hi, Im Anusha and Welcome to my Personal Portfolio</h1>
    </div>
   

<%-include ('partials/footer')%>
<%-include ('partials/bottomnav')%>