<%-include ('partials/header')%>
<%-include ('partials/mainnav')%>

<!DOCTYPE HTML>
<html>
   
<!--Maincontent class for text, formatted in style file afterwards-->
<div class="maincontent">
    <h3>Object Oriented Project</h3>
    <p>This project was done in a group of three for one of my previous classes 'Object Oriented Programming'. This was done in Python and the purpose of  the program was to encrypt and decrypt messages using one of six methods chosen at random. The user would enter a message and the program would encrypt it using either Caesar Cipher, Transposition, Playfair, Product, RSA, or Substitution. It would then print the encrypted and decrypted message to the user.</p>
    <h3>Collaborative Leadership Project</h3>
    <p>Towards the end of the first semester in my first year, I was required to do a group project for a course called 'Collaborative Leadership'. This project was done in a group of five and the purpose of it was to apply leadership methods and approaches to COVID-19. The research was mainly based on how COVID-19 changed leadership with its restrictions and what new methods took place instead. We also researched the challenges faced by leaders beacuse of COVID-19 and how the use of technology increased during that time.</p>
    <h3>Word Guessing Game</h3>
    <p>This program was done in Python and it was also a group project. This was a game that allowed the user to guess a word that was chosen by the program and the user was able to set the amount of the tries they wanted.</p>
</div>

<%-include ('partials/footer')%>
<%-include ('partials/bottomnav')%>